{:paths ["src" "resources"]
 :deps {;; Autenticação e Segurança
        buddy/buddy-auth    {:mvn/version "3.0.323"}
        buddy/buddy-hashers {:mvn/version "2.0.167"}
        buddy/buddy-sign    {:mvn/version "3.6.1-359"}

        ;; Banco de Dados e Migrations
        com.github.seancorfield/honeysql  {:mvn/version "2.4.1066"}
        com.github.seancorfield/next.jdbc {:mvn/version "1.3.883"}
        com.zaxxer/HikariCP               {:mvn/version "5.0.1"}
        org.postgresql/postgresql         {:mvn/version "42.2.10"}

        ;; Core e Injeção de Dependência
        aero/aero                   {:mvn/version "1.1.6"}
        com.stuartsierra/component  {:mvn/version "1.1.0"}

        ;; HTTP Client e Server (Pedestal + Jetty)
        clj-http/clj-http             {:mvn/version "3.12.3"}
        hiccup/hiccup                 {:mvn/version "2.0.0-RC1"}
        io.pedestal/pedestal.service  {:mvn/version "0.6.0"}
        io.pedestal/pedestal.jetty    {:mvn/version "0.6.0"}
        org.slf4j/slf4j-simple        {:mvn/version "2.0.7"}

        ;; Validação e Schema
        metosin/malli      {:mvn/version "0.20.0"}
        prismatic/schema   {:mvn/version "1.4.1"}}

 :aliases
 {:dev
  {:extra-paths ["dev"]
   :extra-deps  {com.stuartsierra/component.repl {:mvn/version "0.2.0"}
                 org.clojure/tools.namespace     {:mvn/version "1.5.0"}}}

  :test
  {:extra-paths ["test"]
   :extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}
                org.clojure/test.check               {:mvn/version "1.1.2"}
                org.testcontainers/postgresql        {:mvn/version "1.20.4"}
                org.testcontainers/testcontainers    {:mvn/version "1.20.4"}}}

  :run {:main-opts ["-m" "clojure-finance-auth.core"]}

  :build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.11"}}
          :ns-default build}}}