version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: finance-auth
    env_file:
      - .env
    environment:
      DB_HOST: ${POSTGRES_HOST}
      DB_PORT: ${POSTGRES_PORT}
      DB_NAME: ${POSTGRES_DB}
      DB_USER: ${POSTGRES_USER}
      DB_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "8083:8083"
    extra_hosts:
      - "host.docker.internal:host-gateway"

